<div class="container mt-4">
  <div class="card user-info-container">
    <div class="card-header bg-primary text-white text-center">
      <h2>User Information</h2>
    </div>
    <div class="card-body" *ngIf="userInfo; else errorTemplate">
      <!-- <p><strong>ID:</strong> {{ userInfo.id }}</p> -->
      <p><strong>Tên đăng nhập:</strong> {{ userInfo.username }}</p>
      <p><strong>Họ tên:</strong> {{ userInfo.fullname }}</p>
      <p><strong>phân quyền:</strong> {{ userInfo.role }}</p>
      <p><strong>Số điện thoại:</strong> {{ userInfo.phone }}</p>
      <p><strong>Mã người dùng:</strong> {{ userInfo.idCard }}</p>
      <button class="btn btn-primary w-100" (click)="update()">Chỉnh sửa</button>
    </div>
    <ng-template #errorTemplate>
      <div class="alert alert-danger text-center">
        {{ errorMessage }}
      </div>
    </ng-template>
  </div>
</div>

<div class="overlay" *ngIf="showUpdate">
  <div class="overlay-content">
    <h2 class="text-center">Cập nhật thông tin cá nhân</h2>
    <form [formGroup]="updateForm" (ngSubmit)="submitUpdate()">
      <div class="mb-3">
        <label for="fullname" class="form-label">Họ tên</label>
        <input id="fullname" formControlName="fullname" type="text" class="form-control"/>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Số điện thoại</label>
        <input id="phone" formControlName="phone" type="text" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="idCard" class="form-label">Mã người dùng</label>
        <input id="idCard" formControlName="idCard" type="text" class="form-control" />
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success">Lưu thay đổi</button>
        <button type="button" class="btn btn-secondary" (click)="showUpdate = false">Hủy</button>
      </div>
    </form>
  </div>
</div>
