<div class="page-container">

	<div class="sidebar" *ngIf="userRole === 'ROLE_USER' || userRole === 'ROLE_ADMIN' || userRole === 'ROLE_LIBRARIAN'">
	  <a class="sidebar-brand" routerLink="/home">
		<i class="bi bi-book-half"></i> 
		BookReads
	  </a>
	  
	  <ul class="nav flex-column">
		<ng-container *ngIf="userRole === 'ROLE_USER'">
		  <li class="nav-item">
			<a class="nav-link" routerLink="/mybook" routerLinkActive="active">
			  <i class="bi bi-heart-fill"></i> Danh sách yêu thích
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/borrow" routerLinkActive="active">
			  <i class="bi bi-journal-arrow-down"></i> Sách đã mượn
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/booklist" routerLinkActive="active">
			  <i class="bi bi-search"></i> Tìm kiếm
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/ebook" routerLinkActive="active">
			  <i class="bi bi-collection-fill"></i> Thư viện trực tuyến
			</a>
		  </li>
		</ng-container>
  
		<ng-container *ngIf="userRole === 'ROLE_ADMIN'">
		  <li class="nav-item">
			<a class="nav-link" routerLink="/admin/admin-home" routerLinkActive="active">
			  <i class="bi bi-house-door-fill"></i> Home
			</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link" routerLink="/librarian/deCodeQR" routerLinkActive="active">
				  <i class="bi bi-qr-code-scan"></i> Quét mã QR
			  </a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/admin/user" routerLinkActive="active">
			  <i class="bi bi-people-fill"></i> Người đọc
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/admin/librarian" routerLinkActive="active">
			  <i class="bi bi-person-badge-fill"></i> Thủ thư
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/admin/book" routerLinkActive="active">
			  <i class="bi bi-book-fill"></i> Sách
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/admin/author" routerLinkActive="active">
			  <i class="bi bi-pen-fill"></i> Tác giả
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/admin/genre" routerLinkActive="active">
			  <i class="bi bi-tag-fill"></i> Thể loại
			</a>
		  </li>
		</ng-container>
  
		<ng-container *ngIf="userRole === 'ROLE_LIBRARIAN'">
		  <li class="nav-item">
			  <a class="nav-link" routerLink="/librarian/book" routerLinkActive="active">
				  <i class="bi bi-book-fill"></i> Sách
			  </a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link" routerLink="/librarian/borrow" routerLinkActive="active">
				  <i class="bi bi-arrow-return-left"></i> Trả sách
			  </a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link" routerLink="/librarian/deCodeQR" routerLinkActive="active">
				  <i class="bi bi-qr-code-scan"></i> Quét mã QR
			  </a>
		  </li>
		</ng-container>
	  </ul>
  
	  <ul class="nav flex-column mt-auto">
		 <ng-container *ngIf="isLoggedIn">
		  <li class="nav-item">
			  <a class="nav-link" routerLink="/user-info" routerLinkActive="active">
				  <i class="bi bi-person-circle"></i> Thông tin cá nhân
			  </a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link" (click)="logout()">
				  <i class="bi bi-box-arrow-right"></i> Đăng xuất
			  </a>
		  </li>
		 </ng-container>
  
		 <ng-container *ngIf="!isLoggedIn">
		  <li class="nav-item">
			  <a class="nav-link" routerLink="/login" routerLinkActive="active">
				  <i class="bi bi-box-arrow-in-right"></i> Đăng nhập
			  </a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link" routerLink="/sign-up" routerLinkActive="active">
				  <i class="bi bi-person-plus-fill"></i> Đăng kí
			  </a>
		  </li>
		 </ng-container>
	  </ul>
	</div>
  
	<div class="content-area">
	  <router-outlet></router-outlet>
	</div>
  
  </div>
  
  <div *ngIf="overlay" class="overlay d-flex align-items-center justify-content-center">
	</div>

	  