<div class="sign-up-container">
  <div class="sign-up-box">
    <h2>Đăng ký tài khoản</h2>

    <form (ngSubmit)="onSignUp()">
      <div class="form-group">
        <label for="username">Tài khoản</label>
        <input type="email" id="username" [(ngModel)]="username" name="username" placeholder="Enter your email" required />
      </div>

      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required />
      </div>

      <div class="form-group">
        <label for="reEnterPassword">Nhập lại mật khẩu</label>
        <input type="password" id="reEnterPassword" [(ngModel)]="reEnterPassword" name="reEnterPassword" placeholder="Re-enter your password" required />
        <div *ngIf="password && reEnterPassword && password !== reEnterPassword" class="error-message">
           Mật khẩu không trùng khớp
        </div>
      </div>

      <div class="form-group">
        <label for="fullname">Họ tên</label>
        <input type="text" id="fullname" [(ngModel)]="fullname" name="fullname" placeholder="Enter your full name" required />
      </div>

      <button type="submit" class="sign-up-btn" [disabled]="loading || password !== reEnterPassword">
        <span *ngIf="loading">Đang đăng ký</span>
        <span *ngIf="!loading">Đăng ký </span>
      </button>
      <p>Bạn đã có tài khoản ?<a routerLink="/login">Đăng nhập</a></p>
    </form>
  </div>
</div>

<div *ngIf="showOverlay" class="overlay">
  <div class="overlay-content">
    <h3>Đăng ký thành công</h3>
    <button (click)="redirectToLogin()" class="overlay-btn">Đến đăng nhập</button>
  </div>
</div>

<div *ngIf="showUsernameExistsOverlay" class="overlay">
  <div class="overlay-content">
    <h3>Tên đăng nhập đã tồn tại.</h3>
    <button (click)="closeOverlay()" class="overlay-btn">Đóng</button>
  </div>
</div>

